<div *ngIf="company">
  <h2 class="page-title">{{company.name}}</h2>

  <div class="row">
    <div class="col-md-8">
      <panel class="widget">
        <heading>
          <h5>
            <span class="fw-semi-bold">Company Details</span>
          </h5>
        </heading>
        <content>
        </content>
      </panel>
    </div>

    <div class="col-md-4">
      <panel class="widget">
        <heading>
          <h5>
            <span class="fw-semi-bold">Company Stats</span>
          </h5>
        </heading>
        <content>
        </content>
      </panel>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <panel class="widget">
        <heading>
          <h5>
            <span class="fw-semi-bold">Properties</span>
          </h5>
        </heading>
        <header-menu>
          <div class="pull-right" dropdown (click)="$event.preventDefault()">
            <!--<button type="button" class="btn btn-info btn-xs" dropdownToggle>-->
            <!--<i class="fa fa-filter"></i>-->
            <!--<span class="fs-sm">Filter</span>-->
            <!--</button>-->
            <a dropdownToggle><i class="fa fa-filter"></i></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [class.active]="filterAll" (click)="filterAll = !filterAll; filter();" href="#"><i class="fa fa-user fa-fw"></i> all</a>
              </li>
              <li><a class="dropdown-item" href="#"><i class="fa fa-user fa-fw"></i> true owner</a>
              </li>
              <li><a class="dropdown-item" href="#"><i class="fa fa-user fa-fw"></i> title owner</a>
              </li>
              <li><a class="dropdown-item" href="#"><i class="fa fa-user fa-fw"></i> manager</a>
              </li>
            </ul>
          </div>
          <!--<div class="pull-right" style="margin-right:5px;">-->
          <!--<button type="button" class="btn btn-info btn-xs">-->
          <!--<i class="fa fa-plus"></i>-->
          <!--<span class="fs-sm">Add</span>-->
          <!--</button>-->
          <!--</div>-->
        </header-menu>
        <content>
          <table class="table table-hover" [mfData]="company.properties" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
            <tr>
              <th>
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="address.streetName">Address</mfDefaultSorter>
              </th>
              <th class="no-sort hidden-sm-down">
                <mfDefaultSorter by="info">Type</mfDefaultSorter>
              </th>
              <th class="hidden-sm-down">
                <mfDefaultSorter by="market.name">Market</mfDefaultSorter>
              </th>
              <th class="hidden-sm-down">
                <mfDefaultSorter by="stats.occupancyStatus">Status</mfDefaultSorter>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let property of mf.data">
              <td>{{property.name}}</td>
              <td>
                <small>
                  {{property.address.streetName}}
                </small>
                <br>
                <small>
                  <span>
                    {{property.address.city}} {{property.address.state.shortName}}
                  </span>
                </small>
              </td>
              <td class="hidden-sm-down">
              </td>
              <td class="hidden-sm-down">{{property.market.name}}</td>
              <td class="hidden-sm-down">{{property.stats.occupancyStatus}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="12" style="padding: 0;line-height: 0;">
                <mfBootstrapPaginator></mfBootstrapPaginator> <!-- [rowsOnPageSet]="[5, 10]" -->
              </td>
            </tr>
            </tfoot>
          </table>
        </content>
      </panel>
    </div>

    <div class="col-md-6">
      <panel class="widget">
        <heading>
          <h5>
            <span class="fw-semi-bold">Property Map</span>
          </h5>
        </heading>
        <ul class="toolbar-menu dropdown-menu">
          <li><a class="dropdown-item" href="#"><i class="fa fa-user fa-fw"></i> true owner</a>
          </li>
          <li><a class="dropdown-item" href="#"><i class="fa fa-user fa-fw"></i> title owner</a>
          </li>
        </ul>
        <content>
          <div class="map-container" style="padding:15px;">
            <sebm-google-map [latitude]="40.1739428" [longitude]="-101.2099918" zoom="4">
              <sebm-google-map-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude"
                                      [iconUrl]="'assets/images/icon_red.png'">
              </sebm-google-map-marker>
            </sebm-google-map>
          </div>
        </content>
      </panel>
    </div>
  </div>
</div>


<div *ngIf="!company">
  No Data Available
</div>
