<!-- Activity -->
<div class="sidebar-heading">Activity for {{model ? model.name : ''}}</div>
<ul class="sidebar-activity">
    <li class="media active">
        <div class="media-left">
            <div class="sidebar-activity-icon">
                <i class="material-icons">mail</i>
            </div>
        </div>
        <div class="media-body">
            <a href="#">Adrian Demian</a> posted a new <a href="#">#Design</a>
            <small>10 days ago</small>
        </div>
    </li>
    <li class="media">
        <div class="media-left">
            <div class="sidebar-activity-icon">
                <i class="material-icons">today</i>
            </div>
        </div>
        <div class="media-body">
            <a href="#">Andrew Brain</a> completed his <a href="#">#work</a>
            <small>10 days ago</small>
        </div>
    </li>
    <li class="media">
        <div class="media-left">
            <div class="sidebar-activity-icon">
                <i class="material-icons">person</i>
            </div>
        </div>
        <div class="media-body">
            <a href="#">John Donahue</a> set a new <a href="#">#trend</a>
            <small>10 days ago</small>
        </div>
    </li>
</ul>
<!-- // END Activity -->

<!-- Stats -->
<div class="sidebar-stats">
    <div class="sidebar-stats-lead text-primary">
        <span>410</span>
        <small class="text-success">
            <i class="material-icons md-middle">arrow_upward</i>
            <span class="icon-text">3.4%</span>
        </small>
    </div>
    <small>TOTAL ORDERS</small>
</div>
<!-- // END Stats -->