/node_modules
!/node_modules/ng2-bootstrap/components/typeahead/typeahead-container.component.js
/typings
/.idea
/reports
.editorconfig
/src/**/*.js
/src/**/*.js.map
/dist
/desktop/windows/app/**/*
!/desktop/windows/app/main.js
!/desktop/windows/app/package.json
