<div *ngIf="property">
    <h3 class="page-title">{{property.name}} ({{property.id}})</h3>

    <div class="row">
        <div class="col-lg-8">
            <panel style="min-height:300px;">
                <panel-title>Property Details</panel-title>
                <header-menu>
                    <span class="dropdown">
                        <a href="#" class="card-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </span>
                </header-menu>
                <content>

                    <div class="row">
                        <div class="col-lg-5"><span class="text-muted-light">County</span><br>{{property.county.name}}</div>
                        <div class="col-lg-3"><span class="text-muted-light">FIPS Code</span><br>{{property.address.state.fipsCode + property.county.fipsCode}}</div>
                        <div class="col-lg-2"><span class="text-muted-light">Levels</span><br>{{property.floorCount}}</div>
                        <div class="col-lg-2"><span class="text-muted-light">Year Built</span><br>{{property.yearBuilt}}</div>
                    </div>

                    <div class="row">&nbsp;</div>

                    <div class="row">
                        <div class="col-lg-5"><span class="text-muted-light">Market/Submarket</span><br>{{property.market.name}}<br>{{property.submarket.name}}</div>
                        <div class="col-lg-3"><span class="text-muted-light">MSA ID</span><br>{{property.market.marketCode}}</div>
                        <div class="col-lg-2"><span class="text-muted-light">Units</span><br>{{property.units.units}}</div>
                        <div class="col-lg-2"><span class="text-muted-light">Last Rennovation</span><br>{{property.lastRennovation}}</div>
                    </div>

                    <div class="row">&nbsp;</div>

                    <div class="row">
                        <div class="col-lg-5">
                            <span class="text-muted-light">Address</span><br>{{property.address.streetName}}<br>
                            {{property.address.city}}, {{property.address.state.shortName}} {{property.address.zipCode}}<br>
                            [www.somewhere.com]
                        </div>
                        <div class="col-lg-3"><span class="text-muted-light">Contact</span><br>
                            <abbr title="Phone">P:&nbsp;</abbr>{{property.phoneNumber.primaryNumber | phoneNumber}}
                        </div>
                        <div class="col-lg-2"><span class="text-muted-light">Parcel Count</span><br>[Parcel Count]</div>
                        <div class="col-lg-2"></div>
                    </div>

                </content>
            </panel>
        </div>

        <div class="col-lg-4">
            <panel style="min-height:300px;">
                <panel-title>Parcels</panel-title>
                <content>
                </content>
            </panel>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <panel style="min-height:400px;">
                <panel-title>Owners</panel-title>
                <header-menu>
                    <span class="dropdown">
                        <a href="#" class="card-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="material-icons">person</i> add owner</a>
                        </div>
                    </span>
                </header-menu>
                <content>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th class="hidden-sm-down">Type</th>
                            <th class="hidden-sm-down">Start Date</th>
                            <th class="hidden-sm-down">End Date</th>
                            <th class="hidden-sm-down">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let owner of property.owners;">
                            <td><a [routerLink]="['/app/company/' + owner.id]">{{owner.name}}</a></td>
                            <td>{{owner.address ? owner.address.streetName + ' ' + owner.address.city : ''}}</td>
                            <td class="hidden-sm-down">Owner</td>
                            <td class="hidden-sm-down">{{owner.startDate !== null ? moment(owner.startDate).format('D/MMM/YYYY') : ''}}</td>
                            <td class="hidden-sm-down">{{owner.endDate !== null ? moment(owner.endDate).format('D/MMM/YYYY') : ''}}</td>
                            <td class="hidden-sm-down">
                                <button type="button" class="btn btn-warning btn-xs">
                                    <span class="fs-sm">Expire</span>
                                </button>
                                <button type="button" class="btn btn-danger btn-xs">
                                    <span class="fs-sm">Delete</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </content>
            </panel>
        </div>
        <div class="col-lg-4">
            <panel style="min-height:400px;" >
                <panel-title>Map</panel-title>
                <content>
                    <sebm-google-map [latitude]="property.coordinate.latitude" [longitude]="property.coordinate.longitude" zoom="10">
                        <sebm-google-map-marker [latitude]="property.coordinate.latitude" [longitude]="property.coordinate.longitude"
                                                [iconUrl]="'assets/images/icon_red.png'" (markerClick)="markerClicked($event)">
                        </sebm-google-map-marker>
                    </sebm-google-map>
                </content>
            </panel>
        </div>
    </div>

    <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
            <!--<panel>-->
                <!--<panel-title>Transaction</panel-title>-->
                <!--<content>-->
                <!--</content>-->
            <!--</panel>-->
        <!--</div>-->
    <!--</div>-->

</div>

<div *ngIf="!property">
    <h4>No Data Available</h4>
</div>
