<div *ngIf="property">
  <h2 class="page-title">{{property.name}}</h2>

  <div class="row">
    <div class="col-md-8">
      <panel class="widget">
        <heading>
          <h4>
            <span class="fw-semi-bold">Property Details</span>
          </h4>
        </heading>
        <content>
          <div>
            <p class="fs-sm fw-normal">{{property.address.streetName + ', ' + property.address.city + ' ' + property.address.state.shortName + ' ' + property.address.zipCode}}</p>
            <p class="fs-sm fw-normal">Year Built: {{property.yearBuilt}}</p>
            <p class="fs-sm fw-normal">Floor Count: {{property.floorCount}}</p>
            <p class="fs-sm fw-normal">Market: {{property.market.name}}</p>
            <p class="fs-sm fw-normal">Submarket: {{property.submarket.name}}</p>
          </div>
        </content>
      </panel>
    </div>

    <div class="col-md-4">
      <panel class="widget">
        <heading>
          <h4>
            <span class="fw-semi-bold">Property Stats</span>
          </h4>
        </heading>
        <content>
          <p class="fs-sm fw-normal">Occupancy Status: {{property.stats.occupancyStatus}}</p>
          <p class="fs-sm fw-normal">Property Type: {{property.stats.propertyType}}</p>
          <p class="fs-sm fw-normal">Occupancy: {{property.stats.occupancy}}</p>
          <p class="fs-sm fw-normal">Survey Date: {{moment(property.stats.surveyDateTime).format('D/MM/YYYY')}}</p>
        </content>
      </panel>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <panel class="widget">
        <heading>
          <h4>
            <span class="fw-semi-bold">Owners</span>
          </h4>
        </heading>
        <header-menu>
          <div class="pull-right" dropdown (click)="$event.preventDefault()">
            <a dropdownToggle><i class="fa fa-cog"></i></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><i class="fa fa-user fa-fw"></i> add owner</a>
              </li>
            </ul>
          </div>
        </header-menu>
        <content>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th class="hidden-xs">Type</th>
              <th class="hidden-xs">Start Date</th>
              <th class="hidden-xs">End Date</th>
              <th class="hidden-xs">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let owner of property.owners;">
              <td><a [routerLink]="['Company',{companyId:owner.id}]">{{owner.name}}</a></td>
              <td>{{owner.address ? owner.address.streetName + ' ' + owner.address.city : ''}}</td>
              <td>Owner</td>
              <td>{{owner.startDate !== null ? moment(owner.startDate).format('D/MMM/YYYY') : ''}}</td>
              <td>{{owner.endDate !== null ? moment(owner.endDate).format('D/MMM/YYYY') : ''}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-xs">
                  <span class="fs-sm">Expire</span>
                </button>
                <button type="button" class="btn btn-danger btn-xs">
                  <span class="fs-sm">Delete</span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </content>
      </panel>
    </div>
    <div class="col-md-4">
      <panel class="widget">
        <heading>
          <h4>
            <span class="fw-semi-bold">Map</span>
          </h4>
        </heading>
        <content>
          <sebm-google-map [latitude]="property.coordinate.latitude" [longitude]="property.coordinate.longitude" zoom="10">
            <sebm-google-map-marker [latitude]="property.coordinate.latitude" [longitude]="property.coordinate.longitude"
                                    [iconUrl]="'assets/images/icon_red.png'" (markerClick)="markerClicked($event)">
            </sebm-google-map-marker>
          </sebm-google-map>
        </content>
      </panel>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <panel class="widget">
        <heading>
          <h4>
            <span class="fw-semi-bold">Transaction</span>
          </h4>
        </heading>
        <content>
        </content>
      </panel>
    </div>
  </div>

</div>

<div *ngIf="!property">
  <h4>No Data Available</h4>
</div>
