.empty-label {
  height: 16px;
}

.field-joined-group-left {
  padding-right: 0.2rem;
}

.field-joined-group-right {
  padding-left: 0.2rem;
}

.search-container {
  padding: 20px 30px 10px 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.results-container {
  margin-top: 15px;
  padding: 30px 20px 5px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.row {
  padding: 5px;
}