.dropdown-menu {
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
}

.dropdown-menu {
  .nav-item & {
    border-radius: 0;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
  }
  &.dropdown-menu-list {
    padding: 0;
    font-size: .95rem;
    .dropdown-item {
      padding: .625rem 1.25rem;
      border-bottom: 1px solid $dropdown-divider-bg;
      &:last-of-type {
        border-bottom-color: transparent;
      }
      i {
        margin-left: -4px;
      }
      &.active i {
        color: #fff;
      }
    }
  }
}

.dropdown-menu{
  & > li > a{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }

  & > li.active > a {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
  }
}
