// VARIABLES
@import './variables';

// BOOTSTRAP
@import 'adminplus/sass/style';

// BOOTSTRAP LAYOUT
@import 'bootstrap-layout/src/sass/style';

// BOOTSTRAP LAYOUT SCROLLABLE
@import 'bootstrap-layout-scrollable/src/sass/style';

@import "pace/themes/pace-theme-minimal";

@import './dropdown';
@import './forms';
@import './notifications';
@import './widget';

.width-400 { width: 400px; }
.width-500 { width: 500px; }

.sidebar-light {
    .sidebar-user img {
        border: 1px solid $sidebar-light-border-color;
    }
    .sidebar-user-center {
        background: rgba(0, 0, 0, .05);
        border-bottom: 1px solid $sidebar-light-border-color;
        .sidebar-user-avatar img {
            border: 1px solid $sidebar-light-border-color;
        }
        .user-info > a {
            color: $gray;
            &:hover {
                color: $brand-primary;
            }
        }
        .user-extras a {
            color: rgba(0, 0, 0, .24);
            &:hover {
                color: $gray;
                text-decoration: none;
            }
        }
    }
    .sidebar-activity {
        li {
            color: $gray-light;
            background: rgba(0, 0, 0, .05);
            border-bottom: 1px solid $sidebar-light-border-color;
            small {
                color: rgba(0, 0, 0, .34);
            }
            a {
                color: $gray-light;
            }
            .sidebar-activity-icon {
                background: rgba(0, 0, 0, .05);
                color: $gray;
                i {
                    position: relative;
                    top: 1px;
                }
            }
            &:hover, &.active {
                background: transparent;
                &,
                a {
                    color: #212121;
                    transition: all .7s;
                }
            }
        }
    }
    .sidebar-email .sidebar-email-item {
        border-bottom: 1px solid $sidebar-light-border-color;
        a.nav-link {
            color: $gray;
            .sidebar-email-message {
                color: $text-muted;
            }
            &:hover {
                background: #efefef;
            }
        }
        &.new a:after {
            background: $brand-primary;
        }
        &.active a.nav-link,
        &.active a.nav-link:hover {
            background: $brand-primary;
            * {
                color: #fff;
            }
        }
    }
    .sidebar-stats {
        border: 1px solid $sidebar-light-border-color;
        color: $text-muted;
    }
}

.sidebar-text {
    font-size: 14px !important;
}

.sidebar-heading {
    padding-left: 18.75px;
    padding-right: 18.75px;
    margin-bottom: 18.75px;
}

a.sidebar-heading-link {
  padding-right: 10px !important;
  color: #2196F3 !important;
  font-size: 12px !important;
  right: 0 !important;
  position: absolute;
}


.sidebar-activity {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  
  li { 
    padding: .625rem 1.25rem; 
    font-size: .9rem;
    &.media {
      margin:0;
      .media-left {
        padding-right: .625rem;
      }
    }
    small { 
      display: block; 
      font-size: .7rem;
      margin-top: .325rem;
    }  
    .sidebar-activity-icon {
      display: inline-block;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      line-height: 30px; 
      text-align: center; 
      i.material-icon {
        font-size: 1.25rem; 
        line-height:inherit;
        position: relative;
        top: -1px;
      } 
    }
    .sidebar-activity-message {
      display: inline-block;
    }
    &:hover {
      cursor: pointer;
    }
  } 
}

.sidebar-stats {
  display: block;
  position: relative;
  text-align:center;
  margin: .625rem;
  border-radius: 5px;
  padding: .625rem;
  line-height: 1; 
  color: #818a91; 
  background: #fff;
  
  .sidebar-stats-lead {
    font-size: 2.3rem; 
    height: 40px;
    line-height: 40px; 
    text-align: center; 
    font-weight: 500; 
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: 0;
    } 
    small {
      font-size: 40%; 
      font-weight: bold;
      vertical-align: middle; 
      i {
        font-size: 1rem;
      }
    }
  }
} 

.sidebar,
.sidebar .simplebar-content {
  .sidebar-text {
    padding-left: 18.75px;
    padding-right: 18.75px;
  }
}

.sidebar-region {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
