<div class="form-wrapper">
  <form [ngFormModel]="form">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="input_street">Street</label>
          <input  id="input_street" 
                  type="text" 
                  onclick="this.select();" 
                  ngControl="street" 
                  class="form-control">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="input_city">City</label>
          <input  id="input_city"
                  type="text"
                  onclick="this.select();"
                  ngControl="city"
                  class="form-control">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="input_state">State</label>
          <input  id="input_state" 
                  type="text" 
                  ngControl="state" 
                  onclick="this.select()"
                  class="form-control">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="input_zipcode">Zipcode</label>
          <input  id="input_zipcode" 
                  type="text" 
                  onclick="this.select()"
                  ngControl="zipcode" 
                  class="form-control">
        </div>
      </div>
    </div>
  </form>
</div>
