<div class="form-wrapper">
  <div class="form-header">
    <!--<hr>-->
    <div>
      <strong>Address: </strong>
    </div>
  </div>
  <form [ngFormModel]="form">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="input_street">Street</label>
          <input id="input_street" type="text" ngControl="street" class="form-control">
        </div>
      </div>
      <div class="col-md-3">
        <label for="input_city">City</label>
        <input id="input_city" type="text" ngControl="city" class="form-control">
      </div>
      <div class="col-md-3">
        <label for="input_state">State</label>
        <input id="input_state" type="text" ngControl="state" class="form-control">
      </div>
      <div class="col-md-3">
        <label for="input_zipcode">Zipcode</label>
        <input id="input_zipcode" type="text" ngControl="zipcode" class="form-control">
      </div>
    </div>
  </form>
</div>
