<div class="form-wrapper">
  <form [ngFormModel]="form">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="input_street">Street</label>
          <input  id="input_street" 
                  type="text" 
                  onclick="this.select();" 
                  ngControl="streetName"
                  class="form-control">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="input_city">City</label>
          <input  id="input_city"
                  type="text"
                  onclick="this.select();"
                  ngControl="city"
                  class="form-control">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="input_stateProvinceId">State</label>
          <input id="input_stateProvinceId" type="text" class="form-control" [(ngModel)]="stateProvinceId.model"
                 [typeahead]="stateProvinceId.typeahead()" (change)="stateProvinceId.typeaheadOnValueChanged(stateProvinceId.model)"
                 (typeaheadOnSelect)="stateProvinceId.typeaheadOnSelect($event)" required>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="input_zipcode">Zipcode</label>
          <input  id="input_zipcode" 
                  type="text" 
                  onclick="this.select()"
                  ngControl="zipCode"
                  class="form-control">
        </div>
      </div>
    </div>
  </form>
</div>
