.border-radius-left-5 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.border-radius-right-5 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button-group .label {
  height:38px;
}

.search-type {
  margin-top:8px;
}